body{
  margin:0;
  font-family:Arial;
  background:#f1f5f9;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app{
  width:100%;
  max-width:420px;
  background:white;
  padding:20px;
  text-align:center;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
}

#timer{
  font-weight:bold;
  margin-bottom:15px;
}

#question{
  font-size:36px;
  font-weight:bold;
  margin:20px 0;
}

#meaning{
  color:#64748b;
  margin-bottom:20px;
}

button{
  width:100%;
  padding:15px;
  margin:8px 0;
  font-size:18px;
  font-weight:bold;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
}

input{
  width:100%;
  padding:15px;
  font-size:18px;
  margin-top:10px;
}
