body{font-family:Arial,sans-serif;margin:0;padding:0}
.center{text-align:center;padding:20px}
input,button{padding:12px;margin:5px;cursor:pointer;font-size:16px}
button{min-width:100px;border:none;border-radius:5px;background:#38bdf8;color:#fff;font-weight:bold;transition:0.3s}
button:hover{background:#0ea5e9}

/* grid soal */
.grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(60px,1fr));gap:10px;margin:10px 0}
.qbox{background:#fbb6ce;padding:15px;text-align:center;font-weight:bold;border-radius:5px;cursor:pointer;transition:0.3s}
.qbox.done{background:#ccc}

/* soal page */
#questionBox img{max-width:80%;margin:10px 0}
.nav-buttons{display:flex;justify-content:center;gap:10px;margin-top:20px}
#answers{margin-top:15px;display:flex;flex-direction:column;gap:10px}
#answers button{border-radius:50px;min-width:50px;background:#10b981}
#answers button.selected{background:#065f46}
input.answer-text{padding:10px;font-size:16px;border-radius:5px;border:1px solid #aaa}
